<h3>Style</h3>

<h4>Text with Style</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text y="20">Lorem ipsum <tspan fill="#ff0000">dolor</tspan> sit <tspan style="font-weight: bold">amet</tspan>.</text>
    </svg>
  </div>
</div>

<h4>Patterns</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <pattern id="pattern" width="10" height="10" patternUnits="userSpaceOnUse" patternTransform="rotate(45 50 50)">
        <rect width="10" height="10"/>
        <line stroke-width="2px" y2="10"/>
        <animateTransform attributeName="patternTransform" type="translate" by="10" dur="1s" repeatCount="indefinite"/>
      </pattern>
      <rect width="400" height="100" fill="url(#pattern)"/>
    </svg>
  </div>
</div>
