<h3>Text</h3>


<h4>Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text y="20">Hello, World!</text>
    </svg>
  </div>
</div>

<h4>Text w/ Auto-Wrap</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <foreignObject x="0" y="0" width="500" height="100">
        <p>
          Lorem ipsum dolor sit amet, <tspan>consetetur</tspan> sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </foreignObject>
    </svg>
  </div>
</div>

<h4>Fancy Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-text" viewBox="0 0 900 450">
      <defs>
        <filter id="drop-stroke-shadow">
          <fegaussianblur in="SourceAlpha" stddeviation="10"></fegaussianblur>
        </filter>
        <symbol id="stroke">
          <text x="50%" y="67%" fill="none" stroke-width=".035em" stroke-linecap="round" stroke-linejoin="round" paint-order="stroke fill" text-anchor="middle">Boom!</text>
        </symbol>
        <symbol id="fill">
          <text x="50%" y="60%" text-anchor="middle">Boom!</text>
        </symbol>
      </defs>
      <g class="svg-text__shaded__stroke" stroke="#00cccc">
        <use y="5%" href="#stroke" opacity="0.5" filter="url(#drop-stroke-shadow)"></use>
        <use y="3%" href="#stroke"></use>
        <use y="2%" href="#stroke"></use>
        <use y="1%" href="#stroke"></use>
        <use href="#stroke" stroke="cyan"></use>
      </g>
      <g fill="#e6e6e6">
        <use class="svg-text__shaded" y="7%" href="#fill"></use>
        <use y="6.5%" href="#fill"></use>
        <use y="6%" href="#fill"></use>
        <use y="5.5%" href="#fill"></use>
        <use y="5%" href="#fill"></use>
        <use y="4.5%" href="#fill"></use>
        <use y="4%" href="#fill"></use>
        <use y="3.5%" href="#fill" fill="#fafafa"></use>
      </g>
    </svg>
  </div>
</div>
