<h2>FIDE World Chess Championsship Match</h2>
<p>
  The World Chess Championship 2016 is an upcoming chess match between reigning world champion Magnus Carlsen and challenger Sergey Karjakin to determine the World Chess Champion.[2] It will be held under the auspices of FIDE, the world chess federation, with the organisation rights belonging to Agon, its commercial partner.
</p>
