<h2>FIDE</h2>
<p>
  FIDE was founded in Paris, France, on July 20, 1924.[3] Its motto is Gens una sumus, Latin for "We are one people". As of 2015 FIDE's president is Kirsan Ilyumzhinov.[4] Ilyumzhinov suspended some of his authority at a December 6, 2015 Presidential Board meeting, at which Deputy President Georgios Makropoulous received these powers, following the statutes.
</p>
