<h2>Magnus Carlsen</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="https://cdn.worldchess.com/static/img/nyfide/carlsen_2x.png">
  </div>
</div>
<p>
  Carlsen is a former chess prodigy. He became a Grandmaster in 2004, at the age of 13 years, 148 days. This made him the third-youngest grandmaster in history.
<p/>
<p>
  In November 2013 Carlsen became World Champion by defeating Viswanathan Anand in the World Chess Championship 2013. On the May 2014 FIDE rating list, Carlsen reached his peak rating of 2882, which is the highest in history. He successfully defended his title in November 2014, once again defeating Anand. The same year, he also won the World Rapid Championship and the World Blitz Championship, thus holding all three world championship titles. In 2015 Carlsen won the inaugural Grand Chess Tour, a series of three supertournaments featuring the 10 best chess grandmasters in the world.
</p>
