<h2>Sergey Karjakin</h2>
<div class="row">
  <div class="col-sm-4">
    <img src="https://cdn.worldchess.com/static/img/nyfide/karjakin_2x.png">
  </div>
</div>
<p>
  On March 28, 2016, Sergey Karjakin became the Challenger to Magnus Carlsen in the World Chess Championship 2016 after winning the Candidates Tournament 2016 in Moscow.
<p/>
<p>
  Karjakin won the 2012 World Rapid Chess Championship and the Chess World Cup 2015. He also won the Norway Chess Tournament twice (2013, 2014) and the Corus Chess Tournament in 2009.
</p>
