/* basic elements */

$basecolor: black;

html {
  margin: 0;
  padding: 0;
  }
body {
  font: 75% georgia, sans-serif;
  line-height: 1.88889;
  color: #555753;
  background: #fff url(blossoms.jpg) no-repeat bottom right;
  margin: 0;
  padding: 0;
  }
p {
  margin-top: 0;
  text-align: justify;
  }
h3 {
  font: italic normal 1.4em georgia, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #7D775C;
  }

a {
  font-weight: bold;
  text-decoration: none;
  color: $basecolor;

  &:link {
    color: $basecolor;
  }
  &:visited {

  }
  &:hover,&:focus,&:active {

  }
}

h3 {
  color: $basecolor;
}

@heading ($margin-top, $width) {
  background: transparent url(h1.gif) no-repeat top left;
  margin-top: 10px;
  display: block;
  width: 219px;
  height: 87px;
  float: left;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header h1 {
  @include heading(58px, 200px)
}

header h2 {
  @include heading(20px, 230px)
}






header h2 {
  background: transparent url(h2.gif) no-repeat top left;
  margin-top: 58px;
  margin-bottom: 40px;
  width: 200px;
  height: 18px;
  float: right;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }