<h2>Contact</h2>
<address>
  <strong>Die Netzarchitekten</strong><br>
  Jakob-Haringer Str. 1<br>
  A-5020 Salzburg<br>
  <abbr title="Phone">P:</abbr> +43 (0) 664 / 56 33 23
</address>

<address>
  <strong>Hannes Moser</strong><br>
  <a href="mailto:hannes@impossiblearts.com">hannes@impossiblearts.com</a>
</address>
